service: product-service
frameworkVersion: '2'

plugins:
  - serverless-offline
  - serverless-dotenv-plugin

custom:
  distFolder: ./build/handlers

useDotenv: true

provider:
  name: aws
  region: eu-west-1
  runtime: nodejs14.x
  lambdaHashingVersion: 20201221
  stage: dev
  profile: epam-aws-training-account

functions:
  getProducts:
    handler: ${self:custom.distFolder}/get-products.getProducts
    events:
      - http:
          method: get
          path: /products
          cors: true
  getProduct:
    handler: ${self:custom.distFolder}/get-product.getProduct
    events:
      - http:
          method: get
          path: /products/{id}
          cors: true
  createProduct:
    handler: ${self:custom.distFolder}/create-product.createProduct
    events:
      - http:
          method: post
          path: /products
          cors: true
